{% extends "base.html" %}
{% block stylesheet %}
<style>
    #video {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }
</style>
{% endblock stylesheet %}
{% block sub_navigation %}
<li class="nav-item"><a href="{{ url_for('index')}}" class="nav-link">Home</a></li>
{% endblock %}
{% block content %}
<section class="bg-very__gray">
    <div class='vstack gap-3'>
        <div class='d-flex justify-content-center'>
            <img id="photo" class="img-fluid">
        </div>
    </div>
    <p class="text-center" style="padding: 20px;">Dont Have the marker ?? Download <a href="{{url_for('aruco')}}">here</a><br><strong>Reminder</strong> : The marker is reusable, dont print again unless you need marker with different size</p>
</section>

{% endblock %}

{% block footer_scripts %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.0/socket.io.js'></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect(window.location.protocol + '//' + document.domain + ':' + location.port);
    socket.on('connect', function () {
        console.log("Connected...!", socket.connected)
    });

    const video = document.createElement("video");
    var canvas = document.createElement("CANVAS");
    var context = canvas.getContext('2d');
    var photo = document.getElementById('photo');

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({
                audio: false,
                video: {
                    facingMode: 'environment'
                }
            })
            .then(function (stream) {
                var height = stream.getVideoTracks()[0].getSettings().height;
                var width = stream.getVideoTracks()[0].getSettings().width;
                canvas.setAttribute("width", width);
                canvas.setAttribute("height", height);
                photo.setAttribute("width", width)
                photo.setAttribute("height", height);
                video.width = width;
                video.height = height;
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err0r) {});
    }

    const FPS = 5;
    setInterval(() => {
        width = video.width;
        height = video.height;
        context.drawImage(video, 0, 0, width, height);
        var data = canvas.toDataURL('image/jpeg', 0.5);
        context.clearRect(0, 0, width, height);
        socket.emit('image', data);
    }, 1000 / FPS);

    socket.on('response_back', function (image) {
        photo.setAttribute('src', image);
    });
</script>
{% endblock footer_scripts %}